<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.css">

  <title>Document</title>
</head>

<body>
  <%- include("./header.ejs") %>
    <div class="p-5  mt-2 row rtl rounded-lg border border-Secondary  bg-light  "
      style="opacity: 0.9;margin-left: 18%; margin-right: 18%;">
      <div class="col-lg-12 form-group">



        <div class="text-center col-lg-12 form-group">
          <table class="text-center table">
            <thead>
              <tr>
                <th class="text-center">ردیف</th>
                <th class="text-center">نام مرکز</th>
                <th class="text-center">عنوان</th>
                <th class="text-center">کلمات کلیدی</th>
                <th class="text-center">ویرایش</th>
                <th class="text-center">حذف</th>
              </tr>
            </thead>


            <% for (let idea of Ideas){ %>
              <tbody>
                <tr>
                  <td>
                    <%= idea.ideaId %>
                  </td>
                  <td>
                    <%= idea.office %>
                  </td>
                  <td>
                    <%= idea.title %>
                  </td>
                  <td>
                    <%= idea.keyWords %>
                  </td>
                  <td>
                    <a href="#" class=" fa fa-edit" style="color: green;"></a>
                  </td>
                  <td>
                    <a href="/form/del/<%= idea.ideaId %> " class="fa fa-trash" style="color: red"></a>

                  </td>

                </tr>
              </tbody>
              <% } %>
          </table>
        </div>
        <button onclick="redirect()" class="btn btn-secondary btn-lg btn-block border border-white">ثبت ابتکار و تجربه
          جدید</button>

      </div>
    </div>

    <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div>
    <script>
      function redirect() {
        window.location='/form/form';
      }

    </script>
</body>

</html>